h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  color: #2F2F2F;
}
ul li {
  color: inherit;
}

.primary-color {
  background-color: #FF5C00 !important;
}

.oprice {
  font-size: 0.8rem;
}

.nprice {
  font-weight: 600;
  font-size: 1.1rem;
}

body {
  padding: 0;
  color: #2F2F2F;
  background-color: #F0F0F0;
}
body main {
  background-color: white;
  padding: 16px 0;
  box-shadow: 0 0 3px 0 rgba(128, 128, 128, 0.247);
}