h1, h2, h3, h4, h5, h6 {
  margin: 0 !important;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  color: #2F2F2F;
}
ul li {
  color: inherit;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.oprice {
  font-size: 0.8rem;
}

.nprice {
  font-weight: 600;
  font-size: 1.1rem;
}

body {
  margin: 0;
  padding: 0;
  color: #2F2F2F;
  background-color: #F0F0F0;
}