h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  color: #2F2F2F;
}
ul li {
  color: inherit;
}

.primary-color {
  background-color: #FF5C00 !important;
}

.oprice {
  font-size: 0.8rem;
}

.nprice {
  font-weight: 600;
  font-size: 1.1rem;
}

footer #af-block #sub-soc-col .social-group, footer #af-block #nav-col, footer #af-block, main #categories-sell .categories-items > li, main #categories-sell, main #banner-ads-bottom, main #banner-ads-center ul li, main #banner-ads-center, main #main-sellers {
  margin: 2rem 0;
}

main #categories-sell .categories-items > li .categories-header, main #main-sellers .seller-title {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.8rem 1rem;
}

main #banner-ads-bottom div, main #banner-ads-center ul li div.img-responsive {
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

footer #af-block #transist-col ul li div i:first-child {
  transform: rotateY(180deg);
}

footer #af-block #sub-soc-col .social-group ul li i, footer #af-block #more-about-col ul li .contact-group section .contact-icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  padding: 0;
  color: #2F2F2F;
  background-color: #F0F0F0;
}
body main {
  background-color: white;
  padding: 16px 0;
  box-shadow: 0 0 3px 0 rgba(128, 128, 128, 0.247);
}

html {
  font-size: 15px;
}

#container {
  position: relative;
}

header {
  position: relative;
}
header .menu-block {
  background-color: #F8F9FA;
}
header .menu-block nav {
  padding: 1rem 1rem;
}
header .menu-block nav .navbar-toggler {
  background-color: #2F2F2F;
  color: white;
  padding: 0.6rem 0.9rem;
  font-size: 1.5rem;
}
header .menu-block nav .navbar-toggler:hover {
  background-color: #393939;
}
header .menu-block nav h1 {
  font-family: "Lobster", cursive;
  font-size: 2.5rem;
  color: #FF5C00;
  font-weight: 400;
  transition: font-size 0.3s;
}
header .menu-block nav li {
  margin-right: 1rem;
}
header .menu-block nav li a {
  font-weight: 900;
  transition: all 0.3s ease;
}
header .menu-block nav li a:hover {
  background-color: #FF5C00;
  color: white;
  padding: 0.5rem;
}
header .hcenter-block {
  background-color: #FF5C00;
  box-shadow: 0 2px 2px 0 rgba(128, 128, 128, 0.589);
  align-items: center;
  margin: 0;
  z-index: 1;
  padding: 0.3rem;
}
header .hcenter-block button {
  font-size: 1.1rem;
}
header .hcenter-block .l-block aside nav div {
  position: fixed;
  background-color: white;
  top: 0;
  left: -230px;
  width: 15rem;
  height: 100%;
  padding: 2rem 1.4rem;
  z-index: 100;
  transition: all 2s;
  display: none;
}
header .hcenter-block .l-block aside nav div a.navbar-brand span {
  font-family: Lobster, cursive;
  color: gray;
  font-size: 2.5rem;
}
header .hcenter-block .c-block button {
  left: 2rem;
  background-color: white;
  padding: 0.8rem;
  border-radius: 50%;
}
header .hcenter-block .r-block {
  margin-right: 13px;
}
header .hcenter-block .r-block ul li {
  position: relative;
  float: left;
  padding: 0.3rem;
}
header .hcenter-block .r-block ul li a {
  background-color: white;
  padding: 0.8rem;
  border-radius: 50%;
}
header .hcenter-block .r-block ul li a .count {
  position: absolute;
  top: 0;
  right: -5px;
  background-color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 50%;
}
header .hslide-block {
  z-index: 0;
}
header .hslide-block img {
  margin: auto;
}
header .items-ads-block ul {
  display: flex;
  width: 97.4%;
  justify-content: center;
}
header .items-ads-block ul li:hover {
  opacity: 0.9;
}

main #main-categories .categories-title {
  margin: 0.3rem 0rem;
}
main #main-categories .categories-title span {
  font-size: 1.3rem;
  font-weight: 600;
}
main #main-categories .categories-content ul {
  display: flex;
  overflow-x: auto;
  width: 100%;
  padding: 2rem 0 0.2rem 0;
  border-top: 1px solid rgba(128, 128, 128, 0.507);
}
main #main-categories .categories-content ul li {
  display: flex;
  position: relative;
  text-align: center;
  box-shadow: 0 0 1px 0 gray;
  transition: all 0.3s;
  background-color: white;
}
main #main-categories .categories-content ul li:not(:last-child) {
  margin-right: 2rem;
}
main #main-categories .categories-content ul li:hover {
  opacity: 0.9;
  background-color: black;
  color: white;
}
main #main-categories .categories-content ul li .cat-header {
  width: 200px;
}
main #main-categories .categories-content ul li .cat-title {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  font-weight: 600;
}
main #main-sellers .seller-title {
  background-color: #F2F2F2;
}
main #main-sellers .seller-title i {
  color: #FF5C00;
}
main #main-sellers .sellers-content {
  padding: 1rem;
}
main #main-sellers .sellers-content ul li {
  margin-bottom: 1rem;
  transition: all 0.3s;
}
main #main-sellers .sellers-content ul li:hover {
  opacity: 0.9;
  color: #FF5C00;
}
main #main-sellers .sellers-content ul li .img {
  float: left;
  margin-right: 1rem;
}
main #main-sellers .sellers-content ul li .item-title {
  font-weight: 600;
}
main #main-sellers .sellers-content ul li .item-price {
  margin-top: 1rem;
}
main #main-sellers .sellers-content ul li .item-price div {
  float: left;
  margin-right: 1rem;
}
main #main-sellers .sellers-content #brand-item-carousel a[href="#brand-item-carousel"] > span:first-child {
  border-radius: 50%;
  padding: 1rem;
}
main #banner-ads-center ul li {
  display: block;
  width: 100%;
}
main #banner-ads-center ul li div.img-responsive {
  height: 200px;
}
main #banner-ads-center .ads-1 .img-responsive {
  background-image: url(https://opencart.opencartworks.com/themes/so_revo3/image/catalog/demo/banners/home1/4.jpg);
}
main #banner-ads-center .ads-2 .img-responsive {
  background-image: url(https://opencart.opencartworks.com/themes/so_revo3/image/catalog/demo/banners/home1/5.jpg);
}
main #banner-ads-bottom .banner-1 {
  background-image: url(https://opencart.opencartworks.com/themes/so_revo3/image/catalog/demo/banners/home1/9.jpg);
  height: 210px;
}
main #categories-sell .categories-items > li {
  transition: opacity 0.3s;
  background-color: white;
}
main #categories-sell .categories-items > li:hover {
  opacity: 0.9;
}
main #categories-sell .categories-items > li:nth-child(even) {
  text-align: right;
}
main #categories-sell .categories-items > li .categories-header {
  background-color: #FF5C00;
  color: white;
  border-radius: 10px 10px 0 0;
}
main #categories-sell .sell-items-group {
  display: flex;
  flex-flow: row wrap;
}
main #categories-sell .sell-items-group li {
  border: 1px solid rgba(128, 128, 128, 0.384);
  text-align: center;
  padding: 1rem;
  width: 50%;
}
main #categories-sell .sell-items-group li .sell-item-title {
  font-size: 1.2rem;
  font-weight: 600;
}
main #categories-sell .sell-items-group li .sell-item-price {
  color: #FF5C00;
}

footer #af-block #transist-col {
  background-color: #FF5C00;
}
footer #af-block #transist-col ul {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: center;
  padding: 1rem;
}
footer #af-block #transist-col ul li {
  width: 100%;
  color: white;
}
footer #af-block #transist-col ul li div i {
  float: left;
  margin: 1rem 0.8rem;
  font-size: 2rem;
}
footer #af-block #transist-col ul li div span {
  font-size: 1rem;
  font-weight: 600;
}
footer #af-block #transist-col ul li p {
  font-size: 1rem;
}
footer #af-block #more-about-col ul {
  align-items: baseline;
  justify-content: center;
}
footer #af-block #more-about-col ul li {
  margin-bottom: 2rem;
}
footer #af-block #more-about-col ul li h6 {
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: 1rem;
}
footer #af-block #more-about-col ul li ul li {
  margin-bottom: 1rem;
  color: gray;
  transition: all 0.3s;
}
footer #af-block #more-about-col ul li ul li:hover {
  margin-left: 1rem;
  color: #FF5C00;
}
footer #af-block #more-about-col ul li ul li .fas {
  margin-right: 0.5rem;
}
footer #af-block #more-about-col ul li .contact-group section {
  display: flex;
  align-items: center;
  color: gray;
}
footer #af-block #more-about-col ul li .contact-group section .contact-icon {
  position: relative;
  color: white;
  padding: 1rem;
  background-color: gray;
  float: left;
  margin: 0.5rem 1rem 0.5rem 0;
  border-radius: 2px;
}
footer #af-block #nav-col {
  border-top: 1px solid rgba(128, 128, 128, 0.185);
  border-bottom: 1px solid rgba(128, 128, 128, 0.185);
  padding: 2rem 0;
}
footer #af-block #nav-col nav ul {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
footer #af-block #nav-col nav ul li {
  margin: 0.3rem 1rem;
}
footer #af-block #nav-col nav ul li a {
  transition: all 0.3s;
}
footer #af-block #nav-col nav ul li a:hover {
  color: #FF5C00;
}
footer #af-block #nav-col nav ul li h2 {
  font-size: 1rem;
  font-weight: 900;
}
footer #af-block #nav-col nav .site-about-short {
  text-align: center;
  color: gray;
}
footer #af-block #sub-soc-col .subscribe-group p {
  font-size: 1.2rem;
  font-weight: 600;
}
footer #af-block #sub-soc-col .subscribe-group form input[type=email] {
  width: 50%;
  padding: 1rem 2rem 1rem 1rem;
  outline: none;
  border: none;
  border-radius: 25px 0 0 25px;
  color: gray;
}
footer #af-block #sub-soc-col .subscribe-group form input[type=submit] {
  position: relative;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.9rem 1.5rem;
  border-radius: 0 25px 25px 0;
  background-color: #FF5C00;
  color: white;
  right: 20px;
  bottom: 2.5px;
}
footer #af-block #sub-soc-col .subscribe-group form input[type=submit]:hover {
  background-color: #cc4a00;
}
footer #af-block #sub-soc-col .social-group {
  font-size: 1.3rem;
  font-weight: 600;
}
footer #af-block #sub-soc-col .social-group ul li {
  position: relative;
  display: inline-block;
  background-color: white;
  padding: 1.5rem;
  border-radius: 25px;
  transition: all 0.3s;
}
footer #af-block #sub-soc-col .social-group ul li:hover {
  color: #FF5C00;
  cursor: pointer;
}
footer #bf-block {
  text-align: center;
  padding: 2rem;
  background-color: #2F2F2F;
  font-size: 1rem;
}
footer #bf-block .copyright {
  color: gray;
}
footer #bf-block .designed-author {
  color: #FF5C00;
  margin-bottom: 0.6rem;
}
footer #bf-block p {
  margin-bottom: 0.2rem;
}
footer #bf-block img {
  margin: auto;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }

  header .hcenter-block .c-block .search-block form {
    margin: auto;
  }
  header .hcenter-block .c-block .search-block form .cat-select,
header .hcenter-block .c-block .search-block form .search-input {
    float: left;
    margin-left: 1rem;
  }
  header .hcenter-block .c-block .search-block form .cat-select select {
    padding: 0.3rem 0.4rem;
    box-sizing: content-box;
    border-radius: 25px 0 0 25px;
  }
  header .hcenter-block .c-block .search-block form .search-input input {
    padding: 0.3rem 1rem;
    box-sizing: content-box;
    border-radius: 0;
    width: 200px;
  }
  header .hcenter-block .c-block .search-block form button[type=submit] {
    border-radius: 0 25px 25px 0;
    padding: 0.976rem 2rem;
  }
  header .hcenter-block .c-block .search-block form select,
header .hcenter-block .c-block .search-block form input,
header .hcenter-block .c-block .search-block form button:focus {
    box-shadow: none;
  }

  main #categories-sell .categories-items li {
    display: grid;
  }
  main #categories-sell .categories-items li .categories-content aside a img {
    width: 98%;
  }
  main #categories-sell .categories-items li:nth-child(odd) .categories-content aside a img {
    margin-left: auto;
  }
  main #categories-sell .categories-items li:nth-child(even) .categories-content aside {
    float: right;
    text-align: left;
  }
  main #categories-sell .categories-items li .categories-header {
    box-shadow: 0 1px 10px 0 rgba(128, 128, 128, 0.212);
    z-index: 1;
  }
  main #categories-sell .categories-items li .categories-content aside {
    float: left;
    padding: 0;
    width: auto;
  }
  main #categories-sell .categories-items li .categories-content aside a {
    display: block;
  }
  main #categories-sell .categories-items li .sell-items-group li {
    position: relative;
    float: left;
    display: block;
    background-color: white;
    width: 50%;
    height: 100%;
  }
  main #categories-sell .categories-items li .sell-items-group li:hover a img,
main #categories-sell .categories-items li .sell-items-group li:hover a div {
    opacity: 0.4;
    transition: opacity 0.3s;
  }
  main #categories-sell .categories-items li .sell-items-group li:hover .more-items {
    opacity: 1;
  }
  main #categories-sell .categories-items li .sell-items-group li a img {
    z-index: 10;
  }
  main #categories-sell .categories-items li .sell-items-group li .more-items {
    opacity: 0;
    transition: 0.3s ease;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
  }
  main #categories-sell .categories-items li .sell-items-group li .more-items button.item-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 20%;
    border: 1px solid #FF5C00;
  }
  main #categories-sell .categories-items li .sell-items-group li .more-items button.item-modal:hover {
    background-color: #FF5C00;
    color: white;
  }
  main #categories-sell .categories-items li .sell-items-group li .more-items button {
    outline: none !important;
    box-shadow: none;
    transition: background-color, color 0.3s ease;
    color: #FF5C00;
  }
  main #categories-sell .categories-items li .sell-items-group li .more-items .bottom-items {
    background-color: white;
    position: absolute;
    bottom: 2%;
    flex-wrap: nowrap;
    margin: auto;
  }
  main #categories-sell .categories-items li .sell-items-group li .more-items .bottom-items li {
    display: block;
    padding: 1px;
    width: auto;
    margin-left: 4px;
    align-self: baseline;
    border: 1px solid #FF5C00;
  }
  main #categories-sell .categories-items li .sell-items-group li .more-items .bottom-items li button {
    font-size: 0.7rem;
    font-weight: 600;
    white-space: nowrap;
  }
  main #categories-sell .categories-items li .sell-items-group li .more-items .bottom-items li:not(:first-child):hover {
    background-color: #FF5C00;
  }
  main #categories-sell .categories-items li .sell-items-group li .more-items .bottom-items li:not(:first-child):hover button {
    color: white;
  }
  main #categories-sell .categories-items li .sell-items-group li .more-items .bottom-items li:not(:first-child) {
    border-radius: 50%;
    padding: 3px 0;
  }
  main #categories-sell .categories-items li .sell-items-group li .more-items .bottom-items li:first-child {
    border-radius: 20px;
    background-color: #FF5C00;
  }
  main #categories-sell .categories-items li .sell-items-group li .more-items .bottom-items li:first-child button {
    color: white;
  }
  main #banner-ads-center ul {
    display: flex;
    justify-content: space-evenly;
  }
  main #banner-ads-center ul li {
    width: 48%;
  }
  main #banner-ads-center ul li div.img-responsive {
    height: 200px;
  }

  footer #af-block #transist-col ul li div span,
footer #af-block #transist-col ul li p {
    font-size: 1rem;
  }
  footer #sub-soc-col {
    align-items: baseline;
  }
}
@media (min-width: 992px) {
  header .hcenter-block .l-block {
    display: none;
  }
  header .hcenter-block .c-block .search-block {
    position: relative;
    left: 6rem;
    display: inline-block;
  }
  header .hbottom-block .container {
    padding: 0;
  }
  header .hbottom-block .container .catgegory-web-block {
    float: left;
    box-shadow: -2px 0 10px rgba(128, 128, 128, 0.199);
  }
  header .hbottom-block .container .catgegory-web-block ul {
    display: flex;
    flex-direction: column;
    padding: 0.9rem 0.9rem 0.1rem 1rem;
    margin-bottom: 0px;
    background-color: white;
    border-radius: 0 0 0 8px;
    text-align: left;
  }
  header .hbottom-block .container .catgegory-web-block ul li {
    border-bottom: 1px solid rgba(128, 128, 128, 0.192);
  }
  header .hbottom-block .container .catgegory-web-block ul li:not(:last-child) {
    margin-bottom: 1.58rem;
  }
  header .hbottom-block .container .catgegory-web-block ul li:first-child {
    position: absolute;
    background-color: #2F2F2F;
    color: white;
    text-align: center;
    align-self: flex-end;
    width: 12.5rem;
    height: 3.8rem;
    top: 90px;
    margin-right: -15px;
    padding: 1.1rem 0;
  }
  header .hbottom-block .container .catgegory-web-block ul li:first-child span {
    font-size: 1.1rem;
    font-weight: 600;
  }
  header .hbottom-block .container .catgegory-web-block ul li:hover a {
    color: #FF5C00;
    transform: translate(5%, 0%);
  }
  header .hbottom-block .container .catgegory-web-block ul li a {
    display: block;
    font-size: 1.1rem;
    font-weight: 600;
    transition: transform 0.2s ease;
  }
  header .hbottom-block .container .catgegory-web-block ul li i {
    margin-right: 1rem;
    vertical-align: middle;
    color: gray;
  }
  header .hbottom-block .container .hslide-block {
    z-index: 0;
    float: left;
  }

  main #main-categories .categories-content ul li .cat-header {
    width: 150px;
  }
  main #categories-sell .categories-items li .sell-items-group li {
    width: 33.3%;
  }
}
@media (min-width: 1200px) {
  header .hcenter-block .c-block .search-block form .search-input input {
    padding: 0.3rem 1rem;
    box-sizing: content-box;
    border-radius: 0;
    width: 370px;
  }
  header .hbottom-block .items-ads-block ul {
    display: block !important;
  }

  main #main-categories .categories-content ul li .cat-header {
    width: 195px;
  }
  main #categories-sell .categories-items li .sell-items-group li {
    width: 20%;
  }

  footer div.container {
    max-width: 1379px !important;
  }
}