@import "variables";

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 !important;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

ul {
    list-style: none;
    padding: 0;
    color: $text-primary;

    li {
        color: inherit;
    }
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.oprice {
    font-size: .8rem;
}

.nprice {
    font-weight: 600;
    font-size: 1.1rem;

}

%tb-space {
    margin: 2rem 0;
}

%header-title {
    font-size: 1.2rem;
    font-weight: 600;
    padding: .8rem 1rem;
}

%img-responsive {
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

%reverse {
    transform: rotateY(180deg);
}

%center-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    padding: 0;
    color: $text-primary;
    background-color: $bg-color;

    main {
        background-color: $bg-white;
        padding: 16px 0;
        box-shadow: 0 0 3px 0 rgba(128, 128, 128, 0.247);
    }
}