$bg-primary:#FF5C00;
$bg-grey:#F2F2F2;
$bg-black:black;
$bg-color:#F0F0F0;
$bg-color-second:#F8F9FA;
$bg-white:white;
$bg-secondry:#3B3B3B;
$text-primary:#2F2F2F;
$text-white:white;
$text-gray:gray;
$text-orange:#FF5C00;