@import "_variables";
@import "_basic";

html {
    font-size: 15px;
}

#container {
    position: relative;
}

header {
    position: relative;

    .menu-block {
        background-color: $bg-color-second;

        nav {
            padding: 1rem 1rem;

            .navbar-toggler {
                background-color: $text-primary;
                color: $text-white;
                padding: .6rem .9rem;
                font-size: 1.5rem;

                &:hover {
                    background-color: lighten($text-primary, 4);
                }
            }

            h1{
                font-family: 'Lobster', cursive;
                font-size: 2.5rem;
                color: $bg-primary;
                font-weight: 400;
                transition: font-size .3s;
            }

            li {
                margin-right: 1rem;

                a {
                    font-weight: 900;
                    transition: all .3s ease;

                    &:hover {
                        background-color: $bg-primary;
                        color: $text-white;
                        padding: .5rem;

                    }
                }
            }
        }
    }

    .hcenter-block {
        background-color: $bg-primary;
        box-shadow: 0 2px 2px 0 rgba(128, 128, 128, 0.589);
        align-items: center;
        margin: 0;
        z-index: 1;
        padding: .3rem;

        button {
            font-size: 1.1rem;
        }

        .l-block {
            aside nav div {
                position: fixed;
                background-color: white;
                top: 0;
                left: -230px;
                width: 15rem;
                height: 100%;
                padding: 2rem 1.4rem;
                z-index: 100;
                transition: all 2s;
                display: none;

                a.navbar-brand span{
                    font-family: Lobster, cursive;
                    color:gray;
                    font-size:2.5rem;
                }
            }
        }

        .c-block button {
            left: 2rem;
            background-color: $text-white;
            padding: .8rem;
            border-radius: 50%;
        }

        .r-block {
            margin-right: 13px;

            ul {
                li {
                    position: relative;
                    float: left;
                    padding: .3rem;

                    a {
                        background-color: $text-white;
                        padding: .8rem;
                        border-radius: 50%;

                        .count {
                            position: absolute;
                            top: 0;
                            right: -5px;
                            background-color: $bg-white;
                            padding: .2rem .5rem;
                            border-radius: 50%;

                        }
                    }
                }
            }
        }

    }

    .hslide-block {
        z-index: 0;

        img {
            margin: auto;
        }
    }

    .items-ads-block {
        ul {
            display: flex;
            width: 97.4%;
            justify-content: center;

            li {
                &:hover {
                    opacity: .9;
                }
            }
        }
    }


}

main {
    #main-categories {
        .categories-title {
            margin: .3rem 0rem;

            span {
                font-size: 1.3rem;
                font-weight: 600;
            }
        }

        .categories-content {
            ul {
                display: flex;
                overflow-x: auto;
                width: 100%;
                padding: 2rem 0 .2rem 0;
                border-top: 1px solid rgba(128, 128, 128, 0.507);

                li {
                    display: flex;
                    position: relative;
                    text-align: center;
                    box-shadow: 0 0 1px 0 gray;
                    transition: all .3s;
                    background-color: $bg-white;

                    &:not(:last-child) {
                        margin-right: 2rem;
                    }

                    &:hover {
                        opacity: 0.9;
                        background-color: $bg-black;
                        color: $text-white;
                    }

                    .cat-header {
                        width: 200px;
                    }

                    .cat-title {
                        margin: .5rem 0;
                        font-size: 1.2rem;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    #main-sellers {
        @extend %tb-space;

        .seller-title {
            @extend %header-title;
            background-color: $bg-grey;

            i {
                color: $bg-primary;
            }
        }

        .sellers-content {
            padding: 1rem;

            ul {
                li {
                    margin-bottom: 1rem;
                    transition: all .3s;

                    &:hover {
                        opacity: 0.9;
                        color: $bg-primary;
                    }

                    .img {
                        float: left;
                        margin-right: 1rem;
                    }

                    .item-title {
                        font-weight: 600;
                    }

                    .item-price {
                        margin-top: 1rem;

                        div {
                            float: left;
                            margin-right: 1rem;
                        }

                    }
                }
            }
            #brand-item-carousel{
                a[href="#brand-item-carousel"] > span:first-child{
                    border-radius: 50%;
                    padding:1rem;
                }
            }
        }
    }

    #banner-ads-center {
        @extend %tb-space;

        ul li {
            @extend %tb-space;
            display: block;
            width: 100%;

            div.img-responsive {
                @extend %img-responsive;
                height: 200px;

            }
        }

        .ads-1 .img-responsive {
            background-image: url(https://opencart.opencartworks.com/themes/so_revo3/image/catalog/demo/banners/home1/4.jpg);
        }

        .ads-2 .img-responsive {
            background-image: url(https://opencart.opencartworks.com/themes/so_revo3/image/catalog/demo/banners/home1/5.jpg);
        }
    }

    #banner-ads-bottom {
        @extend %tb-space;

        div {
            @extend %img-responsive;
        }

        .banner-1 {
            background-image: url(https://opencart.opencartworks.com/themes/so_revo3/image/catalog/demo/banners/home1/9.jpg);
            height: 210px;
        }
    }

    #categories-sell {
        @extend %tb-space;

        .categories-items>li {
            transition: opacity .3s;
            background-color: $bg-white;

            &:hover {
                opacity: 0.9;
            }

            @extend %tb-space;

            &:nth-child(even) {
                text-align: right;
            }

            .categories-header {
                @extend %header-title;
                background-color: $bg-primary;
                color: $text-white;
                border-radius: 10px 10px 0 0;
            }
        }

        .sell-items-group {
            display: flex;
            flex-flow: row wrap;

            li {
                border: 1px solid rgba(128, 128, 128, 0.384);
                text-align: center;
                padding: 1rem;
                width: 50%;

                .sell-item-title {
                    font-size: 1.2rem;
                    font-weight: 600;
                }

                .sell-item-price {
                    color: $bg-primary;
                }
            }
        }
    }
}
footer {
    #af-block {
        @extend %tb-space;

        #transist-col {
            background-color: $bg-primary;

            ul {
                display: flex;
                flex-wrap: nowrap;
                align-items: baseline;
                justify-content: center;
                padding: 1rem;

                li {
                    width: 100%;
                    color: $text-white;

                    div i {
                        float: left;
                        margin: 1rem .8rem;
                        font-size: 2rem;

                        &:first-child {
                            @extend %reverse;
                        }
                    }

                    div span {
                        font-size: 1rem;
                        font-weight: 600;
                    }

                    p {
                        font-size: 1rem;
                    }
                }
            }
        }

        #more-about-col {
            ul {
                align-items: baseline;
                justify-content: center;

                li {
                    margin-bottom: 2rem;

                    h6 {
                        font-size: 1.2rem;
                        font-weight: 600;
                        padding-bottom: 1rem;
                    }

                    ul li {
                        margin-bottom: 1rem;
                        color: $text-gray;
                        transition: all .3s;

                        &:hover {
                            margin-left: 1rem;
                            color: $bg-primary;
                        }

                        .fas {
                            margin-right: .5rem;
                        }
                    }

                    .contact-group section {
                        display: flex;
                        align-items: center;
                        color: $text-gray;

                        .contact-icon {
                            position: relative;
                            color: $text-white;
                            padding: 1rem;
                            background-color: $text-gray;
                            float: left;
                            margin: .5rem 1rem .5rem 0;
                            border-radius: 2px;

                            i {
                                @extend %center-absolute;

                            }

                        }

                    }
                }
            }
        }

        #nav-col {
            @extend %tb-space;
            border-top: 1px solid rgba(128, 128, 128, 0.185);
            border-bottom: 1px solid rgba(128, 128, 128, 0.185);
            padding: 2rem 0;

            nav {
                ul {
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    justify-content: center;

                    li {
                        margin: .3rem 1rem;

                        a {
                            transition: all .3s;

                            &:hover {
                                color: $bg-primary;
                            }
                        }

                        h2 {
                            font-size: 1rem;
                            font-weight: 900;
                        }
                    }
                }

                .site-about-short {
                    text-align: center;
                    color: gray;
                }
            }
        }

        #sub-soc-col {
            .subscribe-group {
                p {
                    font-size: 1.2rem;
                    font-weight: 600;
                }

                form {
                    input[type="email"] {
                        width: 50%;
                        padding: 1rem 2rem 1rem 1rem;
                        outline: none;
                        border: none;
                        border-radius: 25px 0 0 25px;
                        color: $text-gray;
                    }

                    input[type="submit"] {
                        position: relative;
                        font-size: 1.1rem;
                        font-weight: 600;
                        padding: .9rem 1.5rem;
                        border-radius: 0 25px 25px 0;
                        background-color: $bg-primary;
                        color: white;
                        right: 20px;
                        bottom: 2.5px;

                        &:hover {
                            background-color: darken($bg-primary, 10);
                        }
                    }
                }

            }

            .social-group {
                @extend %tb-space;
                font-size: 1.3rem;
                font-weight: 600;

                ul {
                    li {
                        position: relative;
                        display: inline-block;
                        background-color: $text-white;
                        padding: 1.5rem;
                        border-radius: 25px;
                        transition: all .3s;

                        i {
                            @extend %center-absolute;

                        }

                        &:hover {
                            color: $bg-primary;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    #bf-block {
        text-align: center;
        padding: 2rem;
        background-color: $text-primary;
        font-size: 1rem;

        .copyright {
            color: $text-gray;
        }

        .designed-author {
            color: $bg-primary;
            margin-bottom: .6rem;
        }

        p {
            margin-bottom: .2rem;
        }

        img {
            margin: auto;
        }
    }
}

@media screen and(min-width:768px) {
    html {
        font-size: 16px;
    }

    header {
        .hcenter-block {
            .c-block {
                .search-block {
                    form {
                        margin: auto;

                        .cat-select,
                        .search-input {
                            float: left;
                            margin-left: 1rem;
                        }

                        .cat-select select {
                            padding: .3rem .4rem;
                            box-sizing: content-box;
                            border-radius: 25px 0 0 25px;
                        }

                        .search-input input {
                            padding: .3rem 1rem;
                            box-sizing: content-box;
                            border-radius: 0;
                            width: 200px;
                        }

                        button[type="submit"] {
                            border-radius: 0 25px 25px 0;
                            padding: .976rem 2rem;
                        }

                        select,
                        input,
                        button:focus {
                            box-shadow: none;
                        }
                    }
                }
            }
        }
    }

    main {
        #categories-sell {
            .categories-items li {
                display: grid;

                .categories-content aside {
                    a img {
                        width: 98%;
                    }
                }

                &:nth-child(odd) .categories-content aside {
                    a img {
                        margin-left: auto;
                    }
                }

                &:nth-child(even) .categories-content aside {
                    float: right;
                    text-align: left;
                }

                .categories-header {
                    box-shadow: 0 1px 10px 0 rgba(128, 128, 128, 0.212);
                    z-index: 1;
                }

                .categories-content aside {
                    float: left;
                    padding: 0;
                    width: auto;

                    a {
                        display: block;
                    }
                }
                .sell-items-group {
                    li {
                        position: relative;
                        float: left;
                        display: block;
                        background-color: $bg-white;
                        width: 50%;
                        height: 100%;

                        &:hover {
                            a img,
                            a div {
                                opacity: .4;
                                transition: opacity .3s;
                            }
                            .more-items {
                                opacity: 1;
                            }
                        }
                        a img {
                            z-index: 10;
                        }
                        .more-items {
                            opacity: 0;
                            transition: .3s ease;
                            overflow: hidden;
                            @include center-absolute;
                            width: 100%;
                            height: 100%;

                            button.item-modal {
                                @include center-absolute;
                                font-size: 1.3rem;
                                font-weight: 600;
                                border-radius: 20%;
                                border: 1px solid $bg-primary;

                                &:hover {
                                    background-color: $bg-primary;
                                    color: $text-white;
                                }
                            }

                            button {
                                outline: none !important;
                                box-shadow: none;
                                transition: background-color, color .3s ease;
                                color: $bg-primary;
                            }

                            .bottom-items {
                                background-color: $bg-white;
                                position: absolute;
                                bottom: 2%;
                                flex-wrap: nowrap;
                                margin: auto;

                                li {
                                    display: block;
                                    padding: 1px;
                                    width: auto;
                                    margin-left: 4px;
                                    align-self: baseline;
                                    border: 1px solid $bg-primary;

                                    button {
                                        font-size: .7rem;
                                        font-weight: 600;
                                        white-space: nowrap;
                                    }

                                    &:not(:first-child):hover {
                                        background-color: $bg-primary;

                                        button {
                                            color: $text-white;
                                        }
                                    }

                                    &:not(:first-child) {
                                        border-radius: 50%;
                                        padding: 3px 0;
                                    }

                                    &:first-child {
                                        border-radius: 20px;
                                        background-color: $bg-primary;

                                        button {
                                            color: $text-white;
                                        }
                                    }

                                }
                            }
                        }

                    }
                }

            }
        }

        #banner-ads-center {
            ul {
                display: flex;
                justify-content: space-evenly;

                li {
                    width: 48%;

                    div.img-responsive {
                        height: 200px;

                    }
                }
            }
        }
    }

    footer {
        #af-block {
            #transist-col {
                ul {
                    li {

                        div span,
                        p {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }

        #sub-soc-col {
            align-items: baseline;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    header {
        .hcenter-block {
            .l-block {
                display: none;
            }

            .c-block {
                .search-block {
                    position: relative;
                    left: 6rem;
                    display: inline-block;
                }

            }
        }


        .hbottom-block {
            .container {

                padding: 0;

                .catgegory-web-block {
                    float: left;
                    box-shadow: -2px 0 10px rgba(128, 128, 128, 0.199);

                    ul {
                        display: flex;
                        flex-direction: column;
                        padding: .9rem .9rem .1rem 1rem;
                        margin-bottom: 0px;
                        background-color: $bg-white;
                        border-radius: 0 0 0 8px;
                        text-align: left;

                        li {
                            border-bottom: 1px solid rgba(128, 128, 128, 0.192);

                            &:not(:last-child) {
                                margin-bottom: 1.58rem;
                            }

                            &:first-child {
                                position: absolute;
                                background-color: $text-primary;
                                color: $text-white;
                                text-align: center;
                                align-self: flex-end;
                                width: 12.5rem;
                                height: 3.8rem;
                                top: 90px;
                                margin-right: -15px;
                                padding: 1.1rem 0;

                                span {
                                    font-size: 1.1rem;
                                    font-weight: 600;
                                }

                            }

                            &:hover a {
                                color: $bg-primary;
                                transform: translate(5%, 0%);
                            }

                            a {
                                display: block;
                                font-size: 1.1rem;
                                font-weight: 600;
                                transition: transform .2s ease;
                            }

                            i {
                                margin-right: 1rem;
                                vertical-align: middle;
                                color: $text-gray;
                            }
                        }
                    }
                }

                .hslide-block {
                    z-index: 0;
                    float: left;
                }
            }
        }


    }

    main {
        #main-categories {
            .categories-content {
                ul {
                    li {
                        .cat-header {
                            width: 150px;
                        }
                    }
                }
            }
        }

        #categories-sell {
            .categories-items li {

                .sell-items-group {
                    li {
                        width: 33.3%;

                    }
                }

            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    header {
        .hcenter-block {
            .c-block .search-block {
                form {
                    .search-input input {
                        padding: .3rem 1rem;
                        box-sizing: content-box;
                        border-radius: 0;
                        width: 370px;
                    }
                }


            }
        }

        .hbottom-block {
            .items-ads-block {
                ul {
                    display: block !important;
                }
            }
        }
    }

    main {
        #main-categories {
            .categories-content {
                ul {
                    li {
                        .cat-header {
                            width: 195px;
                        }
                    }
                }
            }
        }

        #categories-sell {
            .categories-items li {

                .sell-items-group {
                    li {
                        width: 20%;

                    }
                }

            }
        }
    }

    footer {
        div.container {
            max-width: 1379px !important;
        }
    }
}

.modal{
    .modal-body{
        .price-group{
            span.name{
                font-size:1.3rem;
            }
            span.h4{
               color:$text-orange;
            }
            del{
               color:lighten($text-orange,20);
            }

        }
    }
}